@import "../../lib/mixins.scss";

.passage_controls {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.passage_controls--listitem {
  display: inline-block;
}

.button_left {
  background-image: url("../../../img/arrow-left.png");
  @include nav-button();
  @include button-active-states();
}

.button_forward {
  background-image: url("../../../img/arrow-forward.png");
  @include nav-button();
  @include button-active-states();
}

.button_right {
  background-image: url("../../../img/arrow-right.png");
  @include nav-button();
  @include button-active-states();
}
