
.map-tile {
  background: #fff;
  border: 1px solid darkgrey;
  height: 20px;
  min-width: 20px;
  position: relative;
}

.map-tile-empty {
  background: grey;
}

.map-tile-current:after {
  content: ".";
  position: absolute;
  background: orange;
  width: 6px;
  height: 6px;
  line-height: 0;
  left: 33%;
  top: 33%;
}