@import "../lib/mixins.scss";
@import "../lib/vars.scss";

/* @todo make less hardcodey */
.monster {
  @include translateZ(-$wall_height);

  /* temp measure, adjust monster graphics so that monster overlay is 1:1
    with passage UI and monsters still align on 'ground' */
  margin-top: 80px;
  position: absolute;
  text-align: center;
  width: 480px;

  img {
    width: 480px;
  }
}
