
.passage_controls--listitem {
  display: inline-block;
}

.button_left {
  background-image: url('../../img/arrow-left.png');
  height: 36px;
  width: 36px;
}

.button_forward {
  background-image: url('../../img/arrow-forward.png');
  height: 36px;
  width: 36px;
}

.button_right {
  background-image: url('../../img/arrow-right.png');
  height: 36px;
  width: 36px;
}