@import '../lib/mixins.scss';
@import '../lib/vars.scss';

.wall-psg-right {
  @include panel;
  @include rotateY(-90deg);
  @include transform-origin(99% center);
  
	right:0;
	width: $wall_width;
	height: $wall_height;

	&.shadow {
		@include wall-shadow($wall_width * .16);
	}

  &.open {
    background: #000;
  }
}