@import "../../../lib/vars.scss";

.combat-controls {
  display: flex;
  align-items: center;
  height: $combatControlsHeight;
  padding: 0 6px;
  position: absolute;
  top: 270 - $combatControlsHeight;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 10;

  li {
    display: inline-block;
  }

  button {
    height: $buttonHeight;
    text-align: center;
    text-transform: capitalize;

    &::first-letter {
      font-style: bold;
      text-decoration: underline;
    }
  }
}
